.vs/
.idea/
.vscode/

bin/
obj/
**/bin/
**/obj/

*.user
*.suo
*.userosscache
*.sln.docstates

*.zip
*.7z
*.rar

deploy/2026/
deploy/NMKRevit.bundle/Contents/
!deploy/NMKRevit.bundle/
!deploy/NMKRevit.bundle/PackageContents.xml

TestResults/
*.log
