<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="NMKRebar.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <NMKRebar.Properties.Settings>
      <setting name="DataFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="LastGroupTypeName" serializeAs="String">
        <value />
      </setting>
      <setting name="LastCouplerFamilyName" serializeAs="String">
        <value />
      </setting>
      <setting name="PlaceOneCoupler" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PlaceAllSuffixGroups" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CreateAsFreeForm" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="VarriesLengthParameter" serializeAs="String">
        <value>A</value>
      </setting>
      <setting name="SetTypeSearch" serializeAs="String">
        <value />
      </setting>
      <setting name="LastSetTypeName" serializeAs="String">
        <value />
      </setting>
      <setting name="LastRebarHostElementId" serializeAs="String">
        <value />
      </setting>
      <setting name="CreateAllFilteredTypes" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SubtractBending" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BendingFactor" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="RevertVaries" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SelectTypeRebar" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SelectTypeArray" serializeAs="String">
        <value>True</value>
      </setting>
    </NMKRebar.Properties.Settings>
  </userSettings>
</configuration>
